!!! 5
%html
  %head
    %title Add a Product
  %h3{:align => "center"}
    = "Add a Wine"
  %body
  = form_tag "/products/add", :method => 'POST' do
    .row
      = "Wine Name:"
      %input{:id => "wine_name", :name => "wine_name", :type => "text", :value=> "", :placeholder => "Wine Name", :class => "input"}
    .row
      = "WineDB URL:"
      %input{:id => "wine_url", :name => "wine_url", :type => "text", :value=> "", :placeholder => "WineDB URL", :class => "input"}
    .row
      = "Min Price:"
      %input{:id => "wine_minprice", :name => "wine_minprice", :type => "text", :value=> "", :placeholder => "Min Price", :class => "input"}
    .row
      = "Max Price:"
      %input{:id => "wine_maxprice", :name => "wine_maxprice", :type => "text", :value=> "", :placeholder => "Max Price", :class => "input"}
    .row
      = "Retail Price:"
      %input{:id => "wine_retailprice", :name => "wine_retailprice", :type => "text", :value=> "", :placeholder => "Retail Price", :class => "input"}
    .row
      = "Type:"
      %input{:id => "wine_type", :name => "wine_type", :type => "text", :value=> "", :placeholder => "Basket, Red Wine, etc", :class => "input"}
    .row.submit-row
      = submit_tag "Add", class: "add"