!!! 5
%html
  %head
    %title Product Index
  %body
    %table{:border => 1}
      %tbody
        %tr
          %td Wine Name
          %td WineDB URL
          %td Price (min)
          %td Price (max)
          %td Price (retail)
          %td Type
      - @wines.each do |wine|
        %tr
          %td= wine.name
          %td= wine.url
          %td= wine.pricemin
          %td= wine.pricemax
          %td= wine.priceretail
          %td= wine.winetype