!!! 5
%html
  %head
    %title Add a Product
    %link{:href => "https://bootswatch.com/superhero/bootstrap.min.css", :rel => "stylesheet"}
  %h3{:align => "center"}
    = "Add a Wine"
  %body
  = form_tag "/products/add", :method => 'POST' do
    .container
      .col-md-4
        .row
          = "Wine Name:"
          %input{:id => "wine_name", :name => "wine_name", :type => "text", :value=> "", :placeholder => "Wine Name", :class => "input"}
      .col-md-4
        .row
          = "WineDB URL:"
          %input{:id => "wine_url", :name => "wine_url", :type => "text", :value=> "", :placeholder => "WineDB URL", :class => "input"}
      .col-md-4
        .row
          = "Min Price:"
          %input{:id => "wine_minprice", :name => "wine_minprice", :type => "text", :value=> "", :placeholder => "Min Price", :class => "input"}
      .col-md-4
        .row
          = "Max Price:"
          %input{:id => "wine_maxprice", :name => "wine_maxprice", :type => "text", :value=> "", :placeholder => "Max Price", :class => "input"}
      .col-md-4
        .row
          = "Retail Price:"
          %input{:id => "wine_retailprice", :name => "wine_retailprice", :type => "text", :value=> "", :placeholder => "Retail Price", :class => "input"}
      .col-md-4
        .row
          = "Type:"
          %input{:id => "wine_type", :name => "wine_type", :type => "text", :value=> "", :placeholder => "Basket, Red Wine, etc", :class => "input"}
      .col-md-4
        .row
          = submit_tag "Add", class: "add"
          %a{:href => "/products"} Products Page
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}